<!DOCTYPE html>
<html>
  <head>
    <title><%= app.name %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="<%= resourcePath %>/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="<%= resourcePath %>/assets/js/jquery.json-viewer.min.css"
    />
    <link
      rel="stylesheet"
      href="<%= resourcePath %>/font-awesome/css/font-awesome.min.css"
    />

    <script src="<%= resourcePath %>/assets/js/jquery-3.3.1.min.js"></script>
    <script src="<%= resourcePath %>/assets/js/jquery.json-viewer.min.js"></script>
    <script src="<%= resourcePath %>/assets/js/plotly-2.18.2.min.js"></script>
    <script src="<%= resourcePath %>/assets/js/jquery.json-viewer.min.js"></script>
  </head>
  <body>
    <div class="style-top">
      <div class="style-bar style-white style-card">
        <a href="/home" class="style-bar-item style-button"
          ><b> <%= app.name %> (Unicode-Shifting)</b> Homework1
        </a>
        <%if(isAuthenticated){%>
        <div
          class="style-right style-hide-small"
          style="background-color: azure"
        >
          <a href="/auth/signout" class="style-bar-item style-button"
            >Signout</a
          >
        </div>
        <div
          class="style-right style-hide-small"
          style="background-color: azure"
        >
          <a href="/auth/profile" class="style-bar-item style-button"
            >Edit Profile</a
          >
        </div>
        <%} else {%> <%if(!isNotShowSignin){%>
        <div
          class="style-right style-hide-small"
          style="background-color: azure"
        >
          <a href="/auth/signin" class="style-bar-item style-button">Signin</a>
        </div>
        <%}%> <%}%> <%if(!isNotShowSignin){%>
        <div
          class="style-right style-hide-small"
          style="background-color: ghostwhite"
        >
          <a href="/auth/reset" class="style-bar-item style-button"
            >Reset Password</a
          >
        </div>
        <%}%>
      </div>
    </div>

    <div class="style-content" style="max-width: 1564px">
      <div class="style-container style-padding-16">
        <div id="encrypting_div">
          <h4
            class="style-border-bottom style-border-light-grey style-padding-16"
          >
            Plain Text
          </h4>
          <textarea id="plain_text" name="plain_text"></textarea>

          <h4
            class="style-border-bottom style-border-light-grey style-padding-16"
          >
            Encryption with Shifting
          </h4>

          <div class="run-container">
            <input
              type="number"
              name="cipher_shift"
              id="cipher_shift"
              class="run-input"
              value="0"
            />
            <button class="run-button" onclick="encryption()">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              ENCRYPT IT!
            </button>
            <button class="run-button" onclick="histogram1()">
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              HISTOGRAM
            </button>
          </div>

          <textarea id="encrypted_text" name="encrypted_text"></textarea>

          <div id="graph1"></div>
        </div>

        <div id="reference_div" style="display: none">
          <h4
            class="style-border-bottom style-border-light-grey style-padding-16"
          >
            Reference Text
          </h4>
          <textarea id="reference_text" name="reference_text"></textarea>
          <div class="run-container">
            <button class="run-button" onclick="histogram2()">
              <i class="fa fa-bar-chart" aria-hidden="true"></i> HISTOGRAM
            </button>
          </div>
        </div>

        <div id="encryption_div" style="display: none">
          <div id="graph2"></div>
          Translation Dictionary
          <pre id="json-renderer"></pre>
          <div class="run-container">
            <button class="run-button" onclick="decryption()">
              <i class="fa fa-rocket" aria-hidden="true"></i>
              DECRYPT IT!
            </button>
          </div>
        </div>

        <div id="result_div" style="display: none">
          <h4
            class="style-border-bottom style-border-light-grey style-padding-16"
          >
            Decryption Results
          </h4>

          <div>
            <span class="heading">Accuracy Rating</span>
            <span id="star_lvl1" class="fa fa-star"></span>
            <span id="star_lvl2" class="fa fa-star"></span>
            <span id="star_lvl3" class="fa fa-star"></span>
            <span id="star_lvl4" class="fa fa-star"></span>
            <span id="star_lvl5" class="fa fa-star"></span>
            <p>
              <b id="true_count">?</b> of the total
              <b id="total_count">?</b> characters are true, whereas
              <b id="false_count">?</b> are false.
            </p>
            <hr style="border: 3px solid #f1f1f1" />
          </div>

          <textarea id="result_text" name="result_text"></textarea>
        </div>
      </div>
    </div>

    <footer class="style-center style-black style-padding-16">
      <p>
        <a
          href="<%= redirectUrl %>"
          title="W3.CSS"
          target="_blank"
          class="style-hover-text-green"
          ><%= app.name %></a
        >
        designed by Hidayet AYDIN (21501028)
      </p>
    </footer>
  </body>
  <script>
    const decryption = () => {
      const plain_text = document.querySelector("#plain_text").value;
      const encrypted_text = document.querySelector("#encrypted_text").value;
      if (
        encrypted_text.length > 0 &&
        plain_text.length > 0 &&
        Object.values(translate).length > 0
      ) {
        const result_div = document.querySelector("#result_div");
        result_div.style.display = "block";
        let newPlainText = "";
        for (let character of encrypted_text) {
          newPlainText += translate[character];
        }
        document.querySelector("#result_text").value = newPlainText;

        let tChars = 0,
          fChars = 0;
        for (let index in newPlainText) {
          if (newPlainText[index] == plain_text[index]) {
            tChars += 1;
          } else {
            fChars += 1;
          }
        }

        const rate = parseInt((tChars / (tChars + fChars)) * 100);

        if (rate >= 10) {
          document.querySelector("#star_lvl1").classList.add("checked");
        } else {
          document.querySelector("#star_lvl1").classList.remove("checked");
        }

        if (rate >= 20) {
          document.querySelector("#star_lvl2").classList.add("checked");
        } else {
          document.querySelector("#star_lvl2").classList.remove("checked");
        }

        if (rate >= 40) {
          document.querySelector("#star_lvl3").classList.add("checked");
        } else {
          document.querySelector("#star_lvl3").classList.remove("checked");
        }

        if (rate >= 60) {
          document.querySelector("#star_lvl4").classList.add("checked");
        } else {
          document.querySelector("#star_lvl4").classList.remove("checked");
        }

        if (rate >= 95) {
          document.querySelector("#star_lvl5").classList.add("checked");
        } else {
          document.querySelector("#star_lvl5").classList.remove("checked");
        }

        console.log(tChars, fChars, tChars + fChars);
        document.querySelector("#total_count").innerText = (
          tChars + fChars
        ).toString();
        document.querySelector("#true_count").innerText = tChars.toString();
        document.querySelector("#false_count").innerText = fChars.toString();
      }
    };

    let translate = {};
    function renderJson() {
      const reference_text = document.querySelector("#reference_text").value;
      const refFreqList = freqAnalysis(reference_text)[1];

      const encrypted_text = document.querySelector("#encrypted_text").value;
      const encryptFreqList = freqAnalysis(encrypted_text)[1];

      if (refFreqList.length > 0 && encryptFreqList.length > 0) {
        const jsonRender = document.querySelector("#json-renderer");

        translate = encryptFreqList.reduce((prev, curr, i) => {
          let temp = {};
          if (refFreqList[i]) {
            temp[curr] = refFreqList[i];
          } else {
            temp[curr] = encryptFreqList[i];
          }

          prev = { ...prev, ...temp };
          return prev;
        }, {});

        var options = {
          collapsed: true,
          rootCollapsable: true,
          withQuotes: true,
          withLinks: true,
        };
        $("#json-renderer").jsonViewer(translate, options);
      }
    }

    const freqAnalysis = (text) => {
      let y = [];
      let x = [];
      let collection = {};
      for (let index in text) {
        if (!collection[`${text[index]}`]) {
          collection[`${text[index]}`] = 1;
        } else {
          collection[`${text[index]}`] += 1;
        }
      }

      Object.keys(collection)
        .map((index) => {
          return { letter: index, quantity: collection[index] };
        })
        .sort((a, b) => {
          if (a.quantity < b.quantity) {
            return -1;
          }
        })
        .reverse()
        .forEach((each) => {
          x.push(each.letter);
          y.push(each.quantity);
        });

      return [y, x];
    };

    const histogram2 = () => {
      const reference_text = document.querySelector("#reference_text").value;
      if (reference_text.length > 0) {
        const encryption_div = document.querySelector("#encryption_div");
        encryption_div.style.display = "block";

        let data = [];
        if (reference_text.trim() != "") {
          const [y, x] = freqAnalysis(reference_text);
          const trace = { type: "bar", y, x };
          data.push(trace);
        }

        Plotly.newPlot("graph2", data);
        renderJson();
      }
    };

    const histogram1 = () => {
      const encrypted_text = document.querySelector("#encrypted_text").value;
      const graph1 = document.querySelector("#graph1");
      document.querySelector("#reference_div").style.display = "block";

      let data = [];
      if (encrypted_text.trim() != "") {
        const [y, x] = freqAnalysis(encrypted_text);
        const trace = { type: "bar", y, x };
        data.push(trace);
      }

      Plotly.newPlot("graph1", data);
      if (document?.body?.scrollTop) {
        document.body.scrollTop = graph1.scrollHeight;
      } else {
        document.documentElement.scrollTop = graph1.scrollHeight;
      }
    };

    const shiftEncryption = (plaintext, shiftAmount) => {
      let ciphertext = "";
      for (let character of plaintext) {
        plainCharacter = character.charCodeAt(0);
        let newCharCode = plainCharacter + shiftAmount - 33;
        if (newCharCode > 0) {
          ciphertext += String.fromCharCode((newCharCode % 10000) + 33);
        } else {
          ciphertext += String.fromCharCode((newCharCode % 10000) + 10000);
        }
      }

      // for (let character of plaintext) {
      //   plainCharacter = character.charCodeAt(0);
      //   let newCharCode = ((plainCharacter + shiftAmount - 19) % 9931) + 19;
      //   newCharCode = newCharCode >= 19 ? newCharCode : newCharCode + 9931;
      //   ciphertext += String.fromCharCode(newCharCode);
      // }

      // for (let character of plaintext) {
      //   const plainCharacter = character.charCodeAt(0);
      //   if (plainCharacter >= 97 && plainCharacter <= 122) {
      //     ciphertext += String.fromCharCode(
      //       ((plainCharacter - 97 + shiftAmount) % 26) + 97
      //     );
      //   } else if (plainCharacter >= 65 && plainCharacter <= 90) {
      //     ciphertext += String.fromCharCode(
      //       ((plainCharacter - 65 + shiftAmount) % 26) + 65
      //     );
      //   } else {
      //     ciphertext += String.fromCharCode(plainCharacter);
      //   }
      // }
      return ciphertext;
    };

    const encryption = () => {
      const plain_text = document.querySelector("#plain_text").value;
      const shift = parseInt(document.querySelector("#cipher_shift").value);
      document.querySelector("#encrypted_text").value = shiftEncryption(
        plain_text,
        shift
      );
    };

    const LoremIpsumGenerate = () => {
      const sentences = [
        "Dolor quia enim illum voluptas fugit sit.",
        " Amet fuga officia est et ut non aliquam.",
        " Ut ab natus voluptatum corrupti quia et.",
        " Quo minima dolorum ea culpa.",
        " Similique deleniti sit voluptatibus dignissimos voluptas consequuntur vero dolor.",
        " Corporis dolorum eos architecto eos ame.",
        " Vel nesciunt voluptatem a ab vel dignissimos.",
        " Ut a ipsum dignissimos iure sed amet rerum accusamus.",
        " Ea autem aut hic earum.",
        " Vel a porro nihil omnis et.",
        " Expedita dolore ipsa mollitia cum.",
        " Ut dolores velit assumenda ipsum quis.",
        "Aliquid sit adipisci est deserunt et sunt.",
        " Optio dolores iusto reprehenderit est explicabo doloribus illo totam.",
        " Facilis nam et quia.",
        " Recusandae sed similique asperiores omnis deleniti odio.",
        " Quis quod velit blanditiis modi exercitationem hic aut.",
        " At cum soluta dolorum qui.",
        " Ducimus aut cum enim deleniti sunt.",
        " Harum sit minima doloribus eveniet aperiam a distinctio natus.",
        "Facilis accusamus libero natus numquam maiores.",
        " Sed odio necessitatibus est sapiente aut ut voluptas.",
        " Provident odio harum ut tenetur qui.",
        " Voluptatibus vitae placeat voluptas.",
        " Totam aliquam fugiat eligendi eum.",
        " Quia aliquid nam et veniam aut qui qui dolor.",
        " Quia et enim perferendis enim perferendis.",
        " Minus doloremque molestiae est vel dolorem neque rem.",
        " Eveniet quae sint harum qui sint rerum qui.",
        " Facilis modi reprehenderit dolor adipisci et.",
      ];
      const rand1 = Math.floor(Math.random() * 30);
      const rand2 = Math.floor(Math.random() * 30);
      const rand3 = Math.floor(Math.random() * 30);
      const rand4 = Math.floor(Math.random() * 30);
      const rand5 = Math.floor(Math.random() * 30);
      const rand6 = Math.floor(Math.random() * 30);
      const rand7 = Math.floor(Math.random() * 30);
      const rand8 = Math.floor(Math.random() * 30);
      const rand9 = Math.floor(Math.random() * 30);
      const rand10 = Math.floor(Math.random() * 30);

      const result =
        sentences[rand1] +
        sentences[rand2] +
        sentences[rand3] +
        sentences[rand4] +
        sentences[rand5] +
        sentences[rand6] +
        sentences[rand7] +
        sentences[rand8] +
        sentences[rand9] +
        sentences[rand10];
      return result;
    };

    document.querySelector("#plain_text").value = LoremIpsumGenerate();

    document
      .querySelector("#cipher_shift")
      .addEventListener("change", function (event) {
        if (this.value > 10000) {
          this.value = 10000;
        } else if (this.value < -10000) {
          this.value = -10000;
        }
      });
  </script>
</html>
